html {
  font-family: san-serif;
  color: #303020;
  line-height: 1.414;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

button {
  color: white;
  font-size: 1.75em;
  font-family: sans-serif;
  display: inline-block;
  background: lightseagreen;
  padding: .5em 1em;
  border-radius: .25rem;
  border: none;
  text-transform: none;
  overflow: visible;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  backface-visibility: hidden;
  will-change: transform;
  transition: transform .25s ease-out;
}

.start button:focus,
.start button:hover {
  transform: scale(1.05);
}

.start button:active {
  transform: scale(.9);
}

.container,
.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.board {
  background: #345;
  position: relative;
}

.board-score {
  position: absolute;
  margin: 0;
  padding: .5em;
  color: #eee;
  text-shadow: 1px 1px rgba(0, 0, 0, .2);
  will-change: transform;
  font-family: helvetica neue, helvetica, sans-serif;
  font-size: 2em;
  line-height: 1;
}

.board-score.is-active {
  -webkit-animation: countup .5s ease;
          animation: countup .5s ease;
}

@-webkit-keyframes countup {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  50%  { -webkit-transform: scale(2); transform: scale(2); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}

@keyframes countup {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  50%  { -webkit-transform: scale(2); transform: scale(2); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}

.block {
  line-height: 1;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .25s, visibility .25s;
  transition: opacity .25s, visibility .25s;
}

.block-cover {
  outline: 0;
}

.block-cover.is-selected:focus {
  font-weight: bold
}

.block-cover.is-removed .block {
  opacity: 0;
  visibility: hidden;
}

.block-cover.is-selected .block {
  opacity: .7;
}

.block:hover { cursor: pointer; }
.block:empty { height: 1em; }

.bg-green {
  background-color: #7ecbcf;
}

.bg-gray {
  background-color: #ddd;
}

.height3 {
  height: 3em;
}

.start {
  position: absolute;
  color: white;
  opacity: .9;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%)
}

@media screen and (min-width: 30rem) and (max-width:60rem) {
  .container {
    width: 70%;
  }
}

@media screen and (min-width: 60rem) {
  .container {
    width: 50%;
  }
}

.controller {
  padding: .5em;
  font-size: small;
  position: relative;
}
